{% extends 'base.html' %}


{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Details
        <!-- <small>Version 2.0</small> -->
    </h1>
    <!-- <ol class="breadcrumb"> -->
    <!--   <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
    <!--   <li class="active">Dashboard</li> -->
    <!-- </ol> -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Message Details</h3>

                                  <h2>Date Sent: {{content.startedOn}} <h4>Csv File: <a href ="{{content.csvFile}}" class="label-warning">Download </a></h4></h2>

                                  <hr class="style3">
                                  <h3>Message Content:  {{content.message_text}}</h3>
                                  <hr>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table id="messageDetailsTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Phone Number
                      </th>
                      <th>
                        Using Bot
                      </th>
                      <th>
                        Status
                      </th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for detail in Details %}
                  <tr>
                    <td>
                    {{detail.phon_num}}
                    </td>
                    <td>
                    {{detail.bot_id.bot_phone}}
                    </td>
                    <td>

                      {%if detail.status == 0%}

                      <label class="label label-warning">Waiting</label>
                      {%elif detail.status == 1 or detail.status == 2%}

                      <label class="label label-info">Sent</label>

                    <!--     <label class="label label-success">Read</label>-->
                      {%else%}

                      <label class="label label-danger">Suspended</label>

                      {%endif%}
                    </td>
                  </tr>


                  {% endfor %}
                  </tbody>
                  </table>

                </div>
                <!-- /.box-body
                -->
            </div>

        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
{% endblock %}

{% block footerScripts %}
<script>
$('#messageDetailsTable').DataTable({
   "order": [[ 2, 'desc' ]]
});
</script>
{% endblock %}
